#root {
  height: 100vh;
  max-width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {

								width: 80vw;
								height: 90vh;
								display: flex;
								column-gap: 1em;
}

.column {
								
								border: 1px solid #656565;
								height: 90vh;
								width: 25vw;

								display: flex;
								flex-direction: column;
}

.task-card {
								width: 40%;
								margin: 1em;
								cursor: pointer;
}
